$toggle-width: 8rem;
$slider-size: 3rem;
$padding: 0.25rem;



.Toggle {
    z-index: 99;
    cursor: pointer;
  align-items: center;
background-color:darken($color: green, $amount: 18%);  border: 1px solid #febe10;
  border-radius: 3rem;
  color: #fff;
  display: flex;
  height: calc(#{$slider-size} + #{$padding * 3});
  justify-content: space-around;
  padding: 0.25rem;
  position: relative;
  transition: all 0.2s ease-out;
  width: $toggle-width;

  &--checked {
      
      background-color:darken($color: red, $amount: 40%);
      border-color: #febe10;
    }
    
    &__slider {
        background-color: (#febe10);
        border: 1px solid darken(#485461, 0);
    border-radius: 50%;
    content: "";
    color: #485461;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    left: $padding;
    height: $slider-size;
    width: $slider-size;
    position: absolute;
    transform: translateX(0);
    transition: all 0.2s ease-out;
}

&__text {
    text-align: center;
    width: 50%;
    background-color: transparent;
  }

  input:checked + .Toggle__slider {
    background-color: darken(#febe10, 15%);
    border: 1px solid darken(#434343, 5%);
    transform: translateX(130%);
  }

  input[type="checkbox"] {
    display: none;
  }
}